<h1>Edit article Detail</h1>

<%= form_for @article, :url =>{:action => "update", :id =>@article.id} do |f| %>
<p>Title: <%= f.text_field 'title' %></p>
<p>link: <%= f.text_field  'link' %></p>

<p>content<%= f.text_area 'content' %></p>

<p><label for = "source">Source</label>:
<%= collection_select(:article, :source_id , Source.all, :id, :name, prompt: true, selected: @article.source_id) %></p>

<p>author: <%= f.text_field 'author', value: @article.author %></p>
<!-- <% f.hidden_field :author, selected: @article.author %> -->

<%= f.submit "Save changes" %>
<% end %>
