<h1>Add new article</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "Title">Title</label>:
<%= text_field 'articles', 'title' %></p>

<p><label for = "link">link</label>:
<%= text_field 'articles', 'link' %></p>

<p><label for = "content">Content</label>
<%= text_area 'articles', 'content' %></p>

# source_id

<p><label for = "source">Source</label>:
<%= collection_select(:articles, :source_id , @sources, :id, :name, prompt: true) %></p>
<%= submit_tag "create" %>
<%end%>
